<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Билет 14</title>
</head>
<body>
<p>Все результаты</p>
<table>
    <th>ID</th>
    <th>Name</th>

    <tr th:each="i : ${all}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.name}"></td>
    </tr>
</table>
<p>Результаты по вашему запросу</p>
<table>
    <th>ID</th>
    <th>Name</th>
    <tr th:each="i : ${find_by_name}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.name}"></td>
    </tr>
</table>
</body>
</html>